<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/config.xsd">
    <default>
        <hmh_reviewchart>
            <general>
                <enable>0</enable>
            </general>
        </hmh_reviewchart>
    </default>
</config>
