<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="hmh_reviewchart" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Review Chart</label>
            <tab>hmh</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="rating_code" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Rating Code</label>
                    <comment><![CDATA[Select rating codes to be used on the radar chart]]></comment>
                    <source_model>Hmh\ReviewChart\Model\Config\Source\RatingCode</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
